@model FlightJournal.Web.Models.Pilot

@{
    ViewBag.Title = "Delete";
}

<h2>Ønsker du at slette @Model.Name ?</h2>
<hr/>
<fieldset>
    <legend>Pilot</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    
    <div class="display-label">Mobilnr</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilNumber)
    </div>
    
    <div class="display-label">MemberId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberId)
    </div>

    <div class="display-label">Club</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Club.ShortName)
    </div>

    <div class="display-label">UnionId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnionId)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p style="margin-top: 30px">
        <div class="btn-group">
            <input type="submit" value="Bekræft sletning af @Model.Name" class="btn btn-danger" />
            <a href="javascript:window.history.back();" class="btn btn-default">Tilbage</a>
        </div>
    </p>

}
