@using FlightJournal.Web.Extensions
@model FlightJournal.Web.Models.Pilot

@{
    ViewBag.Title = "Delete";
}

<h2>Ønsker du at slette @Model.Name ?</h2>
<hr/>
<fieldset>
    <legend>Pilot</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    
    <div class="display-label">Mobilnr</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilNumber)
    </div>
    
    <div class="display-label">MemberId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberId)
    </div>

    <div class="display-label">Club</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Club.ShortName)
    </div>

    <div class="display-label">UnionId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnionId)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p style="margin-top: 30px">
        <div class="btn-group">
            @if (@ViewBag.UsedCount == 0 || User.IsAdministrator())
            {
                <input type="submit" value="Bekræft sletning af @Model.Name" class="btn btn-danger" />
            }
            else
            {
                <input type="submit" value="Bekræft sletning af @Model.Name" class="btn btn-danger" disabled/>
            }
            <a href="javascript:window.history.back();" class="btn btn-default">Tilbage</a>
        </div>
    </p>
}

@if (@ViewBag.UsedCount > 0)
{
    <div class="col-md-6">
        <div class="alert alert-danger" style="margin-top: 10px">
            <span class="glyphicon glyphicon-alert"></span> Piloten er tilknyttet @ViewBag.UsedCount flyvninger og kan derfor ikke slettes. <br/>Der vil på sigt kunne sættes piloter som inaktive.
        </div>
    </div>
    <div class="clearfix"></div>
}
