@model FlightJournal.Web.Models.PilotDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Pilot</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.MobilNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilNumber)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.MemberId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberId)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ClubName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClubName)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.UnionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnionId)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ExitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExitDate)
    </div>
    
    @if (Model.TrainingPrograms.Any())
    {
        <div class="display-label">
            @_("TrainingPrograms")
        </div>
        <div class="display-field">
            <table class="small trainingprograms">
                <thead>
                <tr>
                    <th>@_("Program")</th>
                    <th>@_("From")</th>
                    <th>@_("To")</th>
                    <th>@_("Completed")</th>
                </tr>
                </thead>
                @foreach (var p in Model.TrainingPrograms)
                {
                    <tr>
                        <td>@p.ProgramName</td>
                        <td>@(p.StartDate?.ToString("dd-MMM-yyyy"))</td>
                        <td>@(p.EndDate?.ToString("dd-MMM-yyyy"))</td>
                        <td>@(p.Completed  ? _("Yes") : _("No"))</td>
                    </tr>
                }
            </table>
        </div>
    }

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PilotId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
