@using FlightJournal.Web.Extensions
@model FlightJournal.Web.Models.PilotDetailsViewModel

@{
    ViewBag.Title = "Edit";
    string mobilePlaceholder = Request.PhoneNumberInternationalPrefix() + "11223344";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
<fieldset>
    <legend>@_("Edit pilot")</legend>

    @Html.HiddenFor(model => model.PilotId)

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Email, new { @type = "email", placeholder = "email@email.com" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.MobilNumber)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.MobilNumber, new { placeholder = mobilePlaceholder })
        @Html.ValidationMessageFor(model => model.MobilNumber)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.MemberId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MemberId)
        @Html.ValidationMessageFor(model => model.MemberId)
    </div>

    @if (User.IsAdministrator())
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.ClubId, "Club")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClubId", String.Empty)
            @Html.ValidationMessageFor(model => model.ClubId)
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.ClubId)
    }

    <div class="editor-label">
        @Html.LabelFor(model => model.UnionId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UnionId)
        @Html.ValidationMessageFor(model => model.UnionId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.InstructorId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.InstructorId)
        @Html.ValidationMessageFor(model => model.InstructorId)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.ExitDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ExitDate)
        @Html.ValidationMessageFor(model => model.ExitDate)
    </div>
    
    @if (Model.TrainingPrograms.Any())
    {
        <div class="display-label">
            @_("TrainingPrograms")
        </div>
        <div class="editor-field">
            <table class="small trainingprograms">
                <thead>
                <tr>
                    <th>@_("Program")</th>
                    <th>@_("From")</th>
                    <th>@_("To")</th>
                    <th>@_("Completed")</th>
                </tr>
                </thead>
                @for (var i=0;i<Model.TrainingPrograms.Length; i++)
                {
                    <tr>
                        <td>@Html.DisplayFor(model=> Model.TrainingPrograms[i].ProgramName)</td>
                        <td>@Html.DisplayFor(model=> Model.TrainingPrograms[i].StartDate)</td>
                        <td>@Html.EditorFor(model => Model.TrainingPrograms[i].EndDate)</td>
                        <td>@Html.EditorFor(model => Model.TrainingPrograms[i].Completed)</td>
                        <td class="hidden">@Html.HiddenFor(model => Model.TrainingPrograms[i].ProgramId)</td>
                    </tr>
                }
            </table>
        </div>
    }


    <p style="margin-top: 30px">
        <div class="btn-group">
            <input type="submit" value="@_("Save")" class="btn btn-primary" />
            <a href="javascript:window.history.back();" class="btn btn-default">@_("Back")</a>
        </div>
    </p>
</fieldset>
}