@{
    ViewBag.Title = "Administration";
}
<h2>
    Administration</h2>
<p>
    Redigering af grundværdier
</p>
<p>
    @Html.ActionLink("Fly", "Index", "Plane", new { @class = "awesomeBtn" })
    @Html.ActionLink("Piloter", "Index", "Pilot", new { @class = "awesomeBtn" })
    @Html.ActionLink("Start typer", "Index", "StartType", new { @class = "awesomeBtn" })
    @Html.ActionLink("Pilot status", "Index", "PilotStatus", new { @class = "awesomeBtn" })
    @Html.ActionLink("Landingssteder", "Index", "Location", new { @class = "awesomeBtn" })
    @Html.ActionLink("Klubber", "Index", "Club", new { @class = "awesomeBtn" })
</p>
