@model FlightJournal.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account " + User.Identity.Name;
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword) {
                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-default"})
            }
            else {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>
        <p>
            Pilot linked: @Model.HasPilotBinding
            @Html.ActionLink("Manage", "ManagePilotBinding", null, new { @class = "btn btn-default" })
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") 
            @if (Model.PhoneNumber != null) {
                <div class="btn-group">
                    @Html.ActionLink("Change", "AddPhoneNumber", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Remove", "RemovePhoneNumber", null, new { @class = "btn btn-danger" })
                </div>
            }
            else {
                @Html.ActionLink("Add", "AddPhoneNumber", null, new { @class = "btn btn-default" })
            }
            
        </p>
        <p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("Manage", "ManageLogins", null, new { @class = "btn btn-default" })
        </p>
        <p>
            Two Factor Enabled: @(Model.TwoFactor)
            @if (Model.TwoFactor) {
                @Html.ActionLink("Disable", "DisableTFA", null, new { @class = "btn btn-default" })
            }
            else {
                @Html.ActionLink("Enable", "EnableTFA", null, new { @class = "btn btn-default" })
            }
        </p>
        <p>
            Two Factor Browser Remembered?: @Model.BrowserRemembered
            @if (Model.BrowserRemembered) {
                @Html.ActionLink("Forget", "ForgetBrowser", null, new { @class = "btn btn-default" })
            }
            else {
                @Html.ActionLink("Remember", "RememberBrowser", null, new { @class = "btn btn-default" })
            }
        </p>
    </div>
</div>
