@using FlightJournal.Web.Controllers
@using FlightJournal.Web.Models
@using FlightJournal.Web.Views
@model IEnumerable<FlightJournal.Web.Controllers.TrainingProgramStatus>

@functions {
    private string IconFor(TrainingProgramStatus status)
    {
        if (status.DaysSinceLastFlight> 90)
            return "sedentary.png";

        if (status.DaysSinceLastFlight > 60 || status.FlightsInLast60Days < 5)
            return "person.png";

        if (status.DaysSinceLastFlight > 30 || status.FlightsInLast60Days < 10)
        {
            return "walking.png";
        }
        return "running.png";
    }

}

@{
    ViewBag.Title = _("Training status");
}
<h2>@_("Training status")</h2>


@if (Model.Any())
{
    <table class="table table-striped table-hover table-condensed" id="flightstable">
        <thead>
            <tr class="row1of2">
                <th class="coltype1"></th>
                <th class="coltype2"></th>
                <th class="coltype1" colspan="2" >@_("Dual")</th>
                <th class="coltype2" colspan="2">@_("Solo")</th>
                <th class="coltype1"></th>
                <th class="coltype2" colspan="2">@_("Last 60 days")</th>
                <th class="coltype1"></th>
            </tr>
            <tr class="row2of2">
                <th class="coltype1">@_("Pilot")</th>
                <th class="coltype2">@_("Program")</th>
                <th class="coltype1">@_("Hours")</th>
                <th class="coltype1">@_("Flights")</th>
                <th class="coltype2">@_("Hours")</th>
                <th class="coltype2">@_("Flights")</th>
                <th class="coltype1">@_("Last")</th>
                <th class="coltype2">@_("Hours")</th>
                <th class="coltype2">@_("Flights")</th>
                @*<th class="coltype2 hidden-xs hidden-sm">@_("Exercises")</th>*@
                <th class="coltype1">@_("Status")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model)
            {
                <tr>
                    <td>@f.PilotName</td>
                    <td>@f.ProgramName</td>
                    <td>@f.DualTime</td>
                    <td>@f.DualFlights</td>
                    <td>@f.SoloTime</td>
                    <td>@f.SoloFlights</td>
                    <td>@f.LastFlight</td>
                    <td>@f.HoursInLast60Days</td>
                    <td>@f.FlightsInLast60Days</td>
                    @*<td rowspan="2" class=" hidden-xs hidden-sm ">
                        <span class="clickable " title=@Html.Raw(__("Click to see all exercises - Click dot to see flight details"))>
                            @Html.Partial("_PartialTrainingTimeline", f.TrainingTimelineViewModel.Data)
                        </span>
                    </td>*@
                <td> @Html.Raw($"<img class='activityicon' src='/content/images/{IconFor(f)}' >") </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-sm clickable" class="clickable" title=@Html.Raw(__("Click to see training status details")) onclick='window.location="@Url.Action("PilotStatusDetails", "TrainingStatus", new {trainingProgramId =f.ProgramId, pilotId = f.PilotId})"'><span class="fa fa-list"></span></button>
                        <button class="btn btn-sm clickable" title=@Html.Raw(__("Click to see training flights on this program")) onclick='window.location="@Url.Action("PilotLessons", "TrainingLogHistory", new {pilotId = f.PilotId,programId =f.ProgramId})"'><span class="fa fa-history"></span></button>
                        @*@{
                            var chartid = "CHART" + f.TrainingTimelineViewModel.Data.Metadata["pilotId"] + "-" + f.TrainingTimelineViewModel.Data.Metadata["programId"];
                            var description = f.TrainingTimelineViewModel.Data.Metadata["pilotName"] +  " (" + f.TrainingTimelineViewModel.Data.Metadata["programName"] + ")";
                        }*@
                        <button class="btn btn-sm btnchart clickable" title=@Html.Raw(__("Click to see chart")) data-programid="@f.ProgramId" data-pilotid="@f.PilotId" ><span class="fa fa-line-chart"></span></button>
                    </td>
                    <td colspan="7">
                        @foreach (var x in f.LessonsWithStatus)
                        {
                            var clz = CssHelper.CssClassFor(x.Status);
                            var regressionMarker = x.Regression ? " <i class='fa fa-exclamation-triangle' style=color:yellow ></i>" : "";
                            if (x.Status == TrainingStatus.NotStarted)
                            {
                                <label class="bordered @clz" style="padding: 2px">@x.LessonShortName@Html.Raw(regressionMarker)</label>
                            }
                            else
                            {
                                <a href=@Url.Action("PilotLessons", "TrainingLogHistory", new { pilotId = f.PilotId, lessonId = x.LessonId }) title=@Html.Raw(__("Click to see flights on the exercise"))>
                                    <label class="clickable bordered @clz" style="padding: 2px">@x.LessonShortName@Html.Raw(regressionMarker)</label>
                                </a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<div id="urls" 
     data-timeline="@Url.Action("PilotActivityTimeline", "TrainingStatus")" 
     data-details="@Url.Action("GetDetails", "TrainingLogHistory")" 
     data-exercisedetails="@Url.Action("ExerciseDetails", "TrainingLogHistory")"
     ></div>

<div class="modal" tabindex="-1" role="dialog" id="chartmodal">
    <div class="modal-dialog  wide-modal high-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_("Time line")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="detailsmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_("Details")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="exercisemodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_("Exercise")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/charting")
    <script>

        $(document).ready(function () {
            moment.locale("da");
            $(".btnchart").click(function () {
                var pilotid = $(this).data("pilotid")
                var programid = $(this).data("programid")

                var url = $("#urls").data("timeline");
                if (!url || !pilotid || !programid)
                    return;
                var oldcursor = document.body.style.cursor;
                document.body.style.cursor = 'wait';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: {
                        pilotId: pilotid,
                        trainingProgramId: programid,
                    },
                    success: function (html) {
                        document.body.style.cursor = oldcursor;
                        showFullChart(html);
                    },
                    error: function (xhr, status, error) {
                        document.body.style.cursor = oldcursor;
                    }

                });
            });
        });


        var onDataPointClick = function (flightId) {
            console.log("Clicked on flight " + flightId);
            showFlightDetails(flightId);
        }

        var showFullChart = function (html) {
            $("#chartmodal").find(".modal-body").html(html);
            var canvas = $("#chartmodal").find(".scatterChartDate");
            var description = canvas.data("description");
            canvas.height(window.innerHeight * 0.7);
            $("#chartmodal").find(".modal-title").html(description);
            $("#chartmodal").modal();
            drawScatterDateChart(canvas, null, moment(), onDataPointClick);
        }

        var showFlightDetails = function (flightid) {
            var url = $("#urls").data("details");
            if (!url || !flightid)
                return;
            $.ajax({
                url: url,
                data: { flightId: flightid },
                contentType: "application/json; charset=utf-8",
                //dataType: "html",
                success: function (v) {
                    $("#detailsmodal").find(".modal-body").html(v);
                    $("#detailsmodal").modal();

                    setupExerciseModal();
                },
                error: function (a, b, c) {

                },

            });
        };
        var setupExerciseModal = function () {
            $(".exerciselink").on("click",
                function () {
                    var url = $("#urls").data("exercisedetails");
                    var lessonId = $(this).data("id1");
                    var exerciseId = $(this).data("id2");
                    if (!url || !lessonId || !exerciseId)
                        return;
                    $.ajax({
                        url: url,
                        data: {
                            trainingLessonId: lessonId,
                            trainingExerciseid: exerciseId
                        },
                        contentType: "application/json; charset=utf-8",
                        success: function (v) {
                            $("#exercisemodal").find(".modal-body").html(v);
                            $("#exercisemodal").modal();
                        },
                        error: function (a, b, c) {

                        },

                    });
                });
        }
    </script>
}

