@model FlightJournal.Web.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Location</legend>

    <div class="display-label">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">@Html.DisplayFor(model => model.Name)</div>
    
    <div class="display-label">@Html.LabelFor(model => model.ICAO)</div>
    <div class="display-field">@Html.DisplayFor(model => model.ICAO)</div>
    
    <div class="display-label">@Html.LabelFor(model => model.RegisteredOgnFlightLogAirfield)</div>
    <div class="display-field">@Html.DisplayFor(model => model.RegisteredOgnFlightLogAirfield)</div>

    <div class="display-label">@Html.LabelFor(model => model.Country)</div>
    <div class="display-field">@Html.DisplayFor(model => model.Country)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
