@model IEnumerable<FlightJournal.Web.Models.Location>

@{
    ViewBag.Title = "Landingssteder";
}

<div class="pull-right alert alert-warning text-right"><span class="glyphicon glyphicon-warning-sign"></span> Bemærk at landingssteder er tilgængelige på tværs af klubber, som manager forventes du at forvalte dette forsvarligt.<br/>Valider venligst at stedet ikke er oprettet i forvejen og undgå at lave mærkelige lokationer, brug i stedet kommentar feltet.</div>

<h2>Landingssteder</h2>

<hr />
<p>
    @Html.ActionLink("Opret landingssted", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="tablesorter table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>
            Land
        </th>
        <th>
            Stednavn
        </th>
        <th>
            ICAO
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(d => d.Name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ICAO)
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        @Html.ActionLink("Rediger", "Edit", new { id = item.LocationId }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Slet", "Delete", new { id = item.LocationId }, new { @class = "btn btn-default" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tablesorter").tablesorter();
        });
    </script>
}