@model IEnumerable<FlightJournal.Web.Models.Location>

@{
    ViewBag.Title = "Location administration";
}

<div class="pull-right alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Bemærk at landingssteder er tilgængelige på tværs af klubber, som manager forventes du at forvalte dette forsvarligt.</div>

<h2>Landingssteder</h2>

<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover table-condensed">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(d=>d.Name))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
            </td>
        </tr>
    }

</table>
