@model FlightJournal.Web.Models.Training.Catalogue.Training2Program

<legend>Training program</legend>
<table>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.ShortName)</td>
        <td class="display-field">@Html.DisplayFor(model => model.ShortName)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.Name)</td>
        <td class="display-field">@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.Notes)</td>
        <td class="display-field">@Html.DisplayFor(model => model.Notes)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.Url)</td>
        <td class="display-field">@Html.DisplayFor(model => model.Url)</td>
    </tr>
</table>

