@model FlightJournal.Web.Models.Plane

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Plane</legend>

        @Html.HiddenFor(model => model.PlaneId)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedTimestamp)


        <div class="editor-label">
            @Html.LabelFor(model => model.Type) 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
            <small>e.g. LS6</small>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
            <small>e.g. LS6a</small>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Class)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Class)
            @Html.ValidationMessageFor(model => model.Class)
            <small>e.g. 15-Meter</small>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Registration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Registration)
            @Html.ValidationMessageFor(model => model.Registration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompetitionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompetitionId)
            @Html.ValidationMessageFor(model => model.CompetitionId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Seats)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Seats)
            @Html.ValidationMessageFor(model => model.Seats)
            <small>e.g. 1</small>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Engines)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Engines)
            @Html.ValidationMessageFor(model => model.Engines)
            <small>e.g. 0</small>
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Note)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Owner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Owner)
            @Html.ValidationMessageFor(model => model.Owner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExitDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExitDate)
            @Html.ValidationMessageFor(model => model.ExitDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTypeId, "Default StartType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StartTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.StartTypeId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
