@model IEnumerable<FlightJournal.Web.Models.Plane>

@{
    ViewBag.Title = "Plane administration";
}

<div class="pull-right alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Bemærk at fly er tilgængelige på tværs af klubberne, som manager har du adgang til andre klubbers fly og forventes at forvalte dette forsvarligt.</div>
<h2>Fly</h2>
<hr/>
<p>
    @Html.ActionLink("Opret fly", "Create", null, new { @class = "btn btn-primary"})
</p>
<table class="table table-striped table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetitionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engines)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultStartType)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultStartType.ShortName)
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    @Html.ActionLink("Edit", "Edit", new { id = item.PlaneId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Details", "Details", new { id = item.PlaneId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PlaneId }, new { @class = "btn btn-default" })
                </div>
            </td>
        </tr>
    }

</table>
