@model FlightLog.Models.ResetPasswordModel
@{
    ViewBag.Title = "PasswordReset";
}

<h2>Password Reset</h2>
@Html.Raw(ViewBag.Error)

@Html.ValidationSummary(true, "Reset was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Reset Account Password</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label"></div>
            <div class="editor-field">
                <input type="submit" value="Reset Password" />
            </div>
            
        </fieldset>
    </div>
}
