@using FlightJournal.Web
@using FlightJournal.Web.Controllers
@using FlightJournal.Web.Extensions
@model IEnumerable<FlightJournal.Web.Models.Club>

@using (Html.BeginForm("SetCurrentClub", "Club", FormMethod.Post))
{
    <select name="shortName" onchange="submit()" class="btn btn-default">
        <option value="">@_("All flightclubs") </option>
        @foreach (var item in Model)
        {
            <option value="@Html.DisplayFor(modelItem => item.ShortName)" @{ if (Request.Club().ShortName == item.ShortName) { <text> selected</text> }}>
                @Html.DisplayFor(modelItem => item.Name)
            </option>
        }
    </select>
    if (Request.IsClub())
    {
        <a href="@Request.Club().Website" class="btn btn-link"><span class="glyphicon glyphicon-home"></span> @Request.Club().Website</a>
    }    
    <br/>
}

@if (!Request.IsClub())
{
    <p>@Html.Raw(Html.DisplayUserLanguage("All registrered flights are visible. <em>You can always change the club filtering in the footer area</em>", da: "Alle registrerede flyvninger vises. <em>Du kan altid ændre klub filtreringen i bunden af siderne</em>")).</p>
}
else
{
    <p>De viste flyvninger og summeringer er på baggrund af klubbens piloter og hjemmeflyveplads. <em>Du kan altid ændre klub filtreringen i bunden af siderne</em>.</p>
        
    if (Request.Club().ContactInformation != null)
    {
        <p>
            <span>@_("Contact"): @Request.Club().ContactInformation</span>
        </p>
    }
    else
    {
        <p>
            <span>@_("The club has no registered contact").</span> @*, da: "Klubben har ingen registreret kontakt person"*@
        </p>
    }
}

@if (Request.IsClub() && User.IsPilot() && Request.Club().ClubId != User.Pilot().Club.ClubId)
{
    <div class="alert alert-danger"> <span class="glyphicon glyphicon-alert"></span> @_("Notice that this is not your flightclub")</div> @*, da: "Bemærk at dette ikke er din flyveklub"*@
}