@using FlightJournal.Web
@using FlightJournal.Web.Controllers
@using FlightJournal.Web.Extensions
@model IEnumerable<FlightJournal.Web.Models.Club>

@using (Html.BeginForm("SetCurrentClub", "Club", FormMethod.Post))
{
    <select name="shortName" onchange="submit()" class="btn btn-default">
        <option value="">Alle flyveklubber</option>
        @foreach (var item in Model)
        {
            <option value="@Html.DisplayFor(modelItem => item.ShortName)" @{ if (Request.Club().ShortName == item.ShortName) { <text> selected</text> }}>
                @Html.DisplayFor(modelItem => item.Name)
            </option>
        }
    </select>
    if (Request.IsClub())
    {
        <a href="@Request.Club().Website" class="btn btn-link"><span class="glyphicon glyphicon-home"></span> @Request.Club().Website</a>
    }    
    <br/>
}

@if (!Request.IsClub())
{
    <p>Alle registrerede flyvninger vises. <em>Du kan altid ændre klub filtreringen i bunden af siderne</em>.</p>
}
else
{
    <p>De viste flyvninger og summeringer er på baggrund af klubbens piloter og hjemmeflyveplads. <em>Du kan altid ændre klub filtreringen i bunden af siderne</em>.</p>
        
    if (Request.Club().ContactInformation != null)
    {
        <p>
            <span>Kontakt: @Request.Club().ContactInformation</span>
        </p>
    }
    else
    {
        <p>
            <span>Klubben har ingen registreret kontakt person.</span>
        </p>
    }
}

@if (Request.IsClub() && User.IsPilot() && Request.Club().ClubId != User.Pilot().Club.ClubId)
{
    <div class="alert alert-danger"> <span class="glyphicon glyphicon-alert"></span> Bemærk at dette ikke er din flyveklub</div>
}