@model FlightJournal.Web.Models.Club

@{
    ViewBag.Title = "Details";
}

<h2>@_("Details")</h2>

<fieldset>
    <legend>@_("Club")</legend>

    <div class="display-label">@Html.LabelFor(model => model.ShortName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShortName)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Website)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.ContactInformation)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactInformation)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Location)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Visible)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Visible)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.UseAPRSTakeoffAndLanding)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UseAPRSTakeoffAndLanding)
    </div>
</fieldset>
<p>
    @if (ViewBag.AllowEdit)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ClubId })
    }

    @Html.ActionLink("Back to List", "Index")
</p>
