@model IEnumerable<FlightJournal.Web.Models.Club>

@{
    ViewBag.Title = "Club administration";
}

<h2>@_("Club administration")</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default", type = "button" })
</p>
<table class="table table-striped table-hover table-condensed">
    <tr>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().ShortName)
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().Website)
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().ContactInformation)
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().Location)
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().Visible)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @if (ViewBag.AllowEdit) {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClubId }, new { @class = "btn btn-default", type = "button" })
                    @Html.ActionLink("Details", "Details", new { id = item.ClubId }, new { @class = "btn btn-default", type = "button" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClubId }, new { @class = "btn btn-default", type = "button" })
                }
                else
                { 
                    @Html.ActionLink("Details", "Details", new { id = item.ClubId }, new { @class = "btn btn-default", type = "button" }) 
                }
            </td>
        </tr>
    }

</table>
