@model FlightJournal.Web.Models.Training.Predefined.CommentaryType
<legend>@_("Manouvre")</legend>
<table>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.CType)</td>
        <td class="display-field">@Html.DisplayFor(model => model.CType)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.CommentaryTypeIdForExport)</td>
        <td class="display-field">@Html.DisplayFor(model => model.CommentaryTypeIdForExport)</td>
    </tr>
</table>

