@using FlightJournal.Web.Helpers
@model FlightJournal.Web.Models.Training.Predefined.CommentaryType

<legend>@_("Comment")</legend>


@if (ViewBag.IsInUse)
{
    @Html.Raw(HtmlHelpers.DoNotChangeSemanticsAlert())
}

<div class="editor-label">
    @Html.LabelFor(model => model.CType)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CType)
    @Html.ValidationMessageFor(model => model.CType)
</div>





@Html.HiddenFor(model => model.CommentaryTypeId)



