@using FlightJournal.Web.Helpers
@model IEnumerable<FlightJournal.Web.Models.Training.Predefined.CommentaryType>

@{
    ViewBag.Title = _("Flight phases");
}

<h2>@_("Flight phases")</h2>
<hr/>
<p>
    @Html.ActionLink(_("Create"), "Create", null, new { @class = "btn btn-primary"})
</p>
<table class="table table-striped table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CType
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    @Html.ActionLink(_("Edit"), "Edit", new { id = item.CommentaryTypeId }, new { @class = "btn btn-default" })
                    @*@Html.ActionLink(_("Details"), "Details", new { id = item.CommentaryId }, new { @class = "btn btn-default" })*@
                    @if (ViewBag.CanDelete[item.CommentaryTypeId])
                    {
                        @Html.ActionLink(_("Delete"), "Delete", new {id = item.CommentaryTypeId}, new {@class = "btn btn-default"})
                    }
                    else
                    {
                        @Html.Raw(HtmlHelpers.InUseCannotDeleteAlert())
                    }
                </div>
            </td>
        </tr>
    }

</table>
