@using FlightJournal.Web
@using FlightJournal.Web.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (ClubController.CurrentClub != null)
                {
                    if (!String.IsNullOrWhiteSpace(ClubController.CurrentClub.Website))
                    {
                        <a class="navbar-brand" href="@ClubController.CurrentClub.Website">@ClubController.CurrentClub.Name</a>
                    }
                    else
                    {
                        @Html.ActionLink(ClubController.CurrentClub.Name, "Index", "Home", null, new { @class = "navbar-brand" })
                    }
                }
                else
                {
                    @Html.ActionLink("Startlisten", "Index", "Home", null, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.MenuLink("Dagsrapporter", "Index", "Report")</li>
                    <li>@Html.MenuLink("Startlisten", "Grid", "Flight")</li>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.MenuLink("Historik", "History", "Flight")</li>
                    }
                    <li>@Html.MenuLink("UHB530", "UHB530", "Home")</li>
                    <li>@Html.MenuLink("Om", "Index", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>@Html.MenuLink("Piloter", "Index", "Pilot")</li>
                          <li>@Html.MenuLink("Fly", "Index", "Plane")</li>
                          <li>@Html.MenuLink("Landingssteder", "Index", "Location")</li>
                        <li class="divider"></li>
                          <li>@Html.MenuLink("Roles", "Index", "RolesAdmin")</li>
                          <li>@Html.MenuLink("Users", "Index", "UsersAdmin")</li>
                        <li class="divider"></li>
                          <li>@Html.MenuLink("Startmetoder", "Index", "StartType")</li>
                          <li>@Html.MenuLink("Klubber", "Index", "Club")</li>
                      </ul>
                    </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderSection("featured", required: false)
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-right btn-xs"><span class="glyphicon glyphicon-stats"></span>&nbsp; @DateTime.Now.ToString("f") </p>
            @Html.Action("ClubSelector", "Club")
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
