@using FlightJournal.Web
@using FlightJournal.Web.Extensions
@using FlightJournal.Web.Models
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    string accountName = User.Identity.GetUserName();
    if (Request.Pilot().Name != null)
    {
        accountName = Request.Pilot().RenderName;
    }
    if (User.IsAdministrator())
    {
        accountName = "Administrator " + accountName;   // System administrators can create clubs
    }
    else if (User.IsManager())
    {
        accountName = "Manager " + accountName;         // System managers can manage club pilots create planes and create locations
    }
    else if (User.IsEditor())
    {
        accountName = "Editor " + accountName;          // System editors can edit flights without time restrictions
    }
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()
    
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> @accountName
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})</li>
                    <li>@Html.MenuLink("Rettelses historik", "History", "Flight")</li>
                    <li class="divider"></li>
                    <li>@Html.MenuLink("UHB530 (Journalføring)", "UHB530", "Home")</li>
                    <li>@Html.MenuLink("Om startlist.club", "Index", "Home")</li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            
            </li>
        </ul>
    }

} else {

    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")" id="registerLink"><span class="glyphicon glyphicon-edit"></span> Register </a></li>
        <li><a href="@Url.Action("Login", "Account")" id="loginLink"><span class="glyphicon glyphicon-user"></span> Log in </a></li>
    </ul>

}
