@using FlightJournal.Web
@using FlightJournal.Web.Extensions
@using FlightJournal.Web.Models
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    string accountName = User.Identity.GetUserName();
    if (Request.Pilot().Name != null)
    {
        accountName = Request.Pilot().ToString();
    }
    if (User.IsAdministrator())
    {
        accountName = "Administrator " + accountName;   // System administrators can create clubs
    }
    else if (User.IsManager())
    {
        accountName = "Manager " + accountName;         // System managers can manage club pilots create planes and create locations
    }
    else if (User.IsEditor())
    {
        accountName = "Editor " + accountName;          // System editors can edit flights without time restrictions
    }
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsPilot() && Request.Club().ClubId != User.Pilot().Club.ClubId)
            {
                <li>
                    <a href="javascript:document.getElementById('goHomeForm').submit()"><span class="glyphicon glyphicon-home"></span> @User.Pilot().Club.ShortName</a>
                    @using (Html.BeginForm("SetCurrentClub", "Club", FormMethod.Post, new { id = "goHomeForm", Style = "display:none;" }))
                    {
                        <input type="hidden" name="shortName" value="ØSF" />
                    }
                </li>
            }
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> @accountName
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    @if (!User.IsMobilProfile())
                    {
                        <li>@Html.ActionLink("Profil", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage profile"})</li>
                    }
                    <li>@Html.MenuLink("Historik over rettelser", "History", "Flight")</li>
                    <li class="divider"></li>
                    <li>@Html.MenuLink("UHB530 (Journalføring)", "UHB530", "Home")</li>
                    <li>@Html.MenuLink("Om startlist.club", "Index", "Home")</li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log af</a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", Style = "display:none;" }))
                        {
                            @Html.AntiForgeryToken()
                            
                        }
                    </li>
                </ul>

            </li>
        </ul>

} else {

    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Login", "Account")" id="loginLink"><span class="glyphicon glyphicon-user"></span> Log in </a></li>
    </ul>

}
