@using FlightJournal.Web
@using FlightJournal.Web.Extensions
@using FlightJournal.Web.Models
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    string accountName = User.Identity.GetUserName();
    if (Request.Pilot().Name != null)
    {
        accountName = Request.Pilot().ToString(false);
        // Handling long pilot names (but the real problem is the menu system in two rows does not move the underlying base content top padding as it should thereby the user is unable to click on create flight in flight Grid view)
        if (accountName.Length > 30)
        {
            accountName = accountName.Substring(0, accountName.IndexOf(" ", StringComparison.InvariantCulture));
            if (!string.IsNullOrWhiteSpace(Request.Pilot().MemberId))
            {
                accountName = accountName + string.Format(" ({0})", Request.Pilot().MemberId);
            }
        }
    }
    if (User.IsAdministrator())
    {
        // System administrators can create clubs
    }
    else if (User.IsManager())
    {
        // System managers can manage club pilots create planes and create locations
    }
    else if (User.IsEditor())
    {
        // System editors can edit flights without time restrictions
    }
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="@(User.IsEditor() ? "glyphicon glyphicon-education" : "fa fa-user")"></span> @accountName
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.MenuLink("Historik over rettelser", "History", "Flight")</li>
            <li class="divider"></li>
            <li>@Html.MenuLink("UHB530 og (Journalføring)", "UHB530", "About")</li>
            <li>@Html.MenuLink("Om startlist.club", "Index", "About")</li>
            @if (!User.IsMobilProfile())
            {
                <li class="divider"></li>
                <li>
                    <a href="@Url.Action("Index","Manage")" title="Manage profile"><span class="fa fa-cog"></span> Settings</a>
                </li>
            }
            <li class="divider"></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out"></span> Logout</a>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", Style = "display:none;" }))
                {
                    @Html.AntiForgeryToken()

                }
            </li>
        </ul>
    </li>
}
else
{
    <li><a href="@Url.Action("Login", "Account")" id="loginLink"><span class="fa fa-sign-in"></span> Login</a></li>
}
