@using FlightJournal.Web.Helpers
@model FlightJournal.Web.Models.Training.Predefined.Commentary

<legend>@_("Comment")</legend>

@if (ViewBag.IsInUse != null && ViewBag.IsInUse)
{
    @Html.Raw(HtmlHelpers.DoNotChangeSemanticsAlert())
}

<div class="editor-label">
    @Html.LabelFor(model => model.Comment)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Comment)
    @Html.ValidationMessageFor(model => model.Comment)
</div>


<div class="editor-label">
    @Html.LabelFor(model => model.IsOk)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsOk)
</div>




@Html.HiddenFor(model => model.CommentaryId)



