@model FlightJournal.Web.Models.Training.Predefined.Commentary
<legend>@_("Manouvre")</legend>
<table>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.Comment)</td>
        <td class="display-field">@Html.DisplayFor(model => model.Comment)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.AppliesToStartPhase)</td>
        <td class="display-field">@Html.DisplayFor(model => model.AppliesToStartPhase)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.AppliesToFlightPhase)</td>
        <td class="display-field">@Html.DisplayFor(model => model.AppliesToFlightPhase)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.AppliesToApproachPhase)</td>
        <td class="display-field">@Html.DisplayFor(model => model.AppliesToApproachPhase)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.AppliesToLandingPhase)</td>
        <td class="display-field">@Html.DisplayFor(model => model.AppliesToLandingPhase)</td>
    </tr>
</table>

