@using FlightJournal.Web.Extensions
@model FlightJournal.Web.Models.LogbookViewModel
@{
    var flightsDataset = Model.Flights.Where(f => f.Date.Year == Model.Year);

    ViewBag.Title = _("Logbook") + " " + Model.Year;
}
@if (Model.TrainingBarometerEnabled)
{
    <span class="pull-right text-right">
        @Model.TrainingBarometer.Last12MonthDepartures starter og @Model.TrainingBarometer.Last12MonthDuration.TotalHoursWithMinutesAsDecimal() timer de sidste 12 måneder
        <br /><a href="https://medlem.dsvu.dk/grp500/171-uhb599-traeningsbarometer-pdf/file/menu-id-117">Træningsbarometer</a> er i <span style="color:@Model.TrainingBarometer.BarometerColorCode;"><b>@Model.TrainingBarometer.BarometerLabel</b></span>
        <br /><em>@Model.TrainingBarometer.BarometerRecommendation</em>
    </span>
}

<p>
    <div class="btn-group">
        @Html.ActionLink((Model.Year - 1).ToString(), "Index", "Logbook", new { club = Request.Pilot().Club.ShortName, year = Model.Year - 1 }, new { Class = "btn btn-default" })
        <a href="@Url.Action("Index", "Logbook", new { club = Request.Pilot().Club.ShortName, year = Model.Year })" class="btn btn-info"><span class="glyphicon glyphicon-stats"></span> <strong>@Model.Year</strong></a>
        @if (DateTime.Now.Year >= Model.Year)
        {
            @Html.ActionLink((Model.Year + 1).ToString(), "Index", "Logbook", new { club = Request.Pilot().Club.ShortName, year = Model.Year + 1 }, new { Class = "btn btn-default" })
        }
    </div>
    @*@if (Model.Flights.Any())
        {
            <a href="@Url.Action("Export", "Report", new { year = Model.Date.Year })" class="btn btn-info pull-right"><span class="glyphicon glyphicon-cloud-download"></span> Eksporter startlisten for @Model.Date.ToString("yyyy")</a>
        }*@
</p>

<h2>
    @_("Logbook") <small>@Model.Pilot.Name</small>
</h2>
<table class="tablesorter table table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>
                Forsæde/Bagsæde
            </th>
            <th></th>
            <th>
                Antal
            </th>
            <th>
                Flyvetid
            </th>
            <th colspan="2">
                Jan
            </th>
            <th colspan="2">
                Feb
            </th>
            <th colspan="2">
                Mar
            </th>
            <th colspan="2">
                Apr
            </th>
            <th colspan="2">
                Maj
            </th>
            <th colspan="2">
                Jun
            </th>
            <th colspan="2">
                Jul
            </th>
            <th colspan="2">
                Aug
            </th>
            <th colspan="2">
                Sep
            </th>
            <th colspan="2">
                Okt
            </th>
            <th colspan="2">
                Nov
            </th>
            <th colspan="2">
                Dec
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in from c in flightsDataset.Where(f => f.PilotId == Model.Pilot.PilotId)
                             group c by new { c.Pilot, c.StartType } into g
                             select new { Pilot = g.Key.Pilot, StartType = g.Key.StartType, ItemFlights = g })
        {
            <tr>
                <td>
                    @item.Pilot.Name
                </td>
                <td>@item.StartType.ShortName</td>
                <td align="right">
                    @item.ItemFlights.Sum(f => f.LandingCount)
                </td>
                <td align="right">
                    @item.ItemFlights.Sum(f => f.Duration.Ticks).TotalHoursWithMinutesAsDecimal()
                </td>
                @for (int i = 1; i <= 12; i++)
                {
                    var count = item.ItemFlights.Where(f => f.Date.Month == i).Sum(f => f.LandingCount);
                    <td align="right">
                        @((count > 0) ? count.ToString() : "")
                    </td>
                    <td align="right">
                        @item.ItemFlights.Where(f => f.Date.Month == i).Sum(f => f.Duration.Ticks).TotalHoursWithMinutesAsDecimal()
                    </td>
                }
            </tr>
        }
        @foreach (var item in from c in flightsDataset.Where(f => f.PilotBackseatId == Model.Pilot.PilotId)
                             group c by new { c.PilotBackseat, c.StartType } into g
                             select new { Pilot = g.Key.PilotBackseat, StartType = g.Key.StartType, ItemFlights = g })
        {
            <tr>
                <td>
                    @item.Pilot.Name (bagsæde)
                </td>
                <td>@item.StartType.ShortName</td>
                <td align="right">
                    @item.ItemFlights.Sum(f => f.LandingCount)
                </td>
                <td align="right">
                    @item.ItemFlights.Sum(f => f.Duration.Ticks).TotalHoursWithMinutesAsDecimal()
                </td>
                @for (int i = 1; i <= 12; i++)
                {
                    var count = item.ItemFlights.Count(f => f.Date.Month == i);
                    <td align="right">
                        @(count != 0 ? count.ToString() : "")
                    </td>
                    <td align="right">
                        @item.ItemFlights.Where(f => f.Date.Month == i).Sum(f => f.Duration.Ticks).TotalHoursWithMinutesAsDecimal()
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-6">
        <table class="tablesorter table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        Fly
                    </th>
                    <th>
                        Forsæde
                    </th>
                    <th></th>
                    <th>
                        Antal
                    </th>
                    <th>
                        Flyvetid
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in from c in flightsDataset
                                     where c.PilotId == Model.Pilot.PilotId
                                     group c by new { c.Pilot, c.Plane, c.StartType } into g
                                     select new { Pilot = g.Key.Pilot, Plane = g.Key.Plane, StartType = g.Key.StartType, ItemFlights = g })
                {
                    <tr>
                        <td>
                            @item.Plane
                        </td>
                        <td>
                            @item.Pilot.Name
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartType, "StartType")
                        </td>
                        <td align="right">
                            @item.ItemFlights.Sum(f => f.LandingCount)
                        </td>
                        <td align="right">
                            @item.ItemFlights.Sum(f => f.Duration.Ticks).TotalHoursWithMinutesAsDecimal()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="tablesorter table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        Fly
                    </th>
                    <th>
                        Bagsæde
                    </th>
                    <th></th>
                    <th>
                        Antal
                    </th>
                    <th>
                        Flyvetid
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in from c in flightsDataset
                                     where c.PilotBackseatId == Model.Pilot.PilotId
                                     group c by new { c.PilotBackseat, c.Plane, c.StartType } into g
                                     select new { PilotBackseat = g.Key.PilotBackseat, Plane = g.Key.Plane, StartType = g.Key.StartType, ItemFlights = g })
                {
                    <tr>
                        <td>
                            @item.Plane
                        </td>
                        <td>
                            @item.PilotBackseat.Name
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.StartType, "StartType")
                        </td>
                        <td align="right">
                            @item.ItemFlights.Sum(f => f.LandingCount)
                        </td>
                        <td align="right">
                            @item.ItemFlights.Sum(f => f.Duration.Ticks).TotalHoursWithMinutesAsDecimal()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br style="page-break-after: always;" />
<h2>
    @_("Startlist") <small>@Model.Pilot.Name</small>
</h2>
<table class="tablesorter table table-responsive table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                Dato
            </th>
            <th>
                Fly
            </th>
            <th>
                Pilote(r)
            </th>
            <th></th>
            <th>
                Flyvetid
            </th>
            <th class="hidden-sm">
                Flyveplads
            </th>
            <th class="hidden-sm">
                Tacho
            </th>
            <th class="hidden-xs">
                Note
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in flightsDataset.OrderByDescending(d => d.Departure))
        {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plane)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item, "Pilots")
                </td>
                <td class="hidden-xs hidden-sm text-center">
                    @Html.DisplayFor(modelItem => item.StartType, "StartType")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item, "Duration")
                </td>
                <td class="hidden-sm">
                    @Html.DisplayFor(modelItem => item, "StartedFrom")
                    @Html.DisplayFor(modelItem => item, "LandedOn")
                </td>
                <td class="hidden-sm text-right">
                    @Html.DisplayFor(modelItem => item, "Tacho")
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.Description, "Description")
                </td>
                <td class="text-right">
                    @Html.ActionLink(_("Details"), "Details", "Flight", new { id = item.FlightId }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tablesorter").tablesorter();
        });
    </script>
}

