@using FlightJournal.Web
@using FlightJournal.Web.Extensions
@model FlightJournal.Web.Models.Flight
@{
    ViewBag.Title = _("Flight Details");

    if (Model == null)
    {
        <text><span class="error">Flight id was not found </span></text>
        @ViewBag.FlightId;
        @Html.Partial("_changeHistory", (IEnumerable<FlightJournal.Web.Models.FlightVersionHistory>)ViewBag.ChangeHistory)
        return;
    }

}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>@_("Flight Details")</legend>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="display-label">
                    @Html.LabelFor(model => model.Date)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Date)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.Departure)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Departure)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.Landing)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Landing)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.PlaneId)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Plane)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.BetalerId)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Betaler.Name)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.PilotId)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Pilot.Name)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.PilotBackseatId)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PilotBackseat.Name)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="display-label">
                    @Html.LabelFor(model => model.StartTypeId)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.StartType)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.StartedFromId)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.StartedFrom.Name)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.LandedOnId)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LandedOn.Name)
                </div>
            </div>
            <div class="clearfix visible-sm visible-xs"></div>
            <div class="col-md-4 col-sm-12 visible-sm visible-xs">
                <div class="btn-group">
                    @if (Request.IsPilot())
                    {
                        bool isEditable = User.IsEditor();
                        if (Model != null && Model.Date != null && Model.Date.AddDays(3) >= DateTime.Now)
                        {
                            isEditable = true;
                        }
                        if (isEditable)
                        {
                            @Html.ActionLink(_("Edit"), "Edit", new { id = Model.FlightId }, new { @class = "btn btn-primary" })
                        }
                    }
                    <a href="javascript:window.history.back();" class="btn btn-default">@_("Back")</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="display-label">
                    @Html.LabelFor(model => model.TachoDeparture)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.TachoDeparture)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.TachoLanding)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.TachoLanding)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.LandingCount)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LandingCount)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.TaskDistance)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.TaskDistance)
                </div>
                @if (Model.Deleted.HasValue)
                {
                    <br /><br />
                    <div class="alert alert-danger ">
                        <h4>@String.Format(_("Marked deleted {0} by {1}"), @Model.Deleted.ToString(), @Model.LastUpdatedBy)</h4>
                    </div>
                }
            </div>
        </div>
    </fieldset>
}
<p>
    <div class="btn-group">
        @if (Request.IsPilot())
        {
            bool isEditable = User.IsEditor();
            if (Model != null && Model.Date != null && Model.Date.AddDays(3) >= DateTime.Now)
            {
                isEditable = true;
            }
            if (isEditable)
            {
                @Html.ActionLink(_("Edit"), "Edit", new { id = Model.FlightId }, new { @class = "btn btn-primary" })
            }
        }
        <a href="javascript:window.history.back();" class="btn btn-default">@_("Back")</a>
    </div>
</p>
@Html.Partial("_changeHistory", (IEnumerable<FlightJournal.Web.Models.FlightVersionHistory>)ViewBag.ChangeHistory)
@*@Html.Partial("_changeHistoryLog", (IEnumerable<FlightJournal.Web.Models.FlightVersionHistory>)ViewBag.ChangeHistory)*@
