@model IEnumerable<FlightJournal.Web.Models.Flight>
@using System.Web.Script.Serialization;
@{
	ViewBag.Title = "Startlisten " + ViewBag.Date.ToShortDateString();
	int startNr = Model.Count();
}
<p>
    @if(Request.IsAuthenticated) {
        @Html.ActionLink("Opret flyvning", "Create", null, new { @class = "awesomeBtn" })
        <text> | </text>
    }
    @Html.ActionLink("Tidligere flyvninger", "Index")
    @*<span style="float:right">
        @Html.DropDownList("FilterLocationId", "Filter on airport")
    </span>*@
</p>
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Fly
            </th>
            <th>
                Pilote(r)
            </th>
            <th>
                Start
            </th>
            <th>
                Landing
            </th>
            <th>
                Flyvetid
            </th>
            <th>
                Flyveplads
            </th>
            <th>
                Tacho
            </th>
            <th>
                Note
            </th>
            <th class="noprint">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(startNr--)
                </td>
                <td>
                    @item.Plane
                </td>
                <td>
                    @item.Pilot.Name
                    @if (item.PilotBackseat != null)
                    {
                        <text>/ </text>@item.PilotBackseat.Name
                    }
                    @if ((item.Betaler != null) && (item.Betaler != item.Pilot))
                    {
                        <text> (</text>@item.Betaler.Name<text> betaler)</text>
                    }
                    @if ((item.Betaler == null) && (item.Pilot != null))
                    { 
                        <text> (mangler betaler) </text>
                    }
                </td>
                <td>
					@if (!item.Departure.HasValue && Request.IsAuthenticated && item.Date == DateTime.Today)
                    {
                        <span style="white-space: nowrap;">
                            @Html.ActionLink("-10 min", "Depart", new { id = item.FlightId, offSet = 10 }, new { title = DateTime.Now.AddMinutes(-10).ToString("HH:mm"), @class = "awesomeBtn"  })
                            <text> </text>@Html.ActionLink("-5 min", "Depart", new { id = item.FlightId, offSet = 5 }, new { title = DateTime.Now.AddMinutes(-5).ToString("HH:mm"), @class = "awesomeBtn"  })
                            <text> </text>@Html.ActionLink("Nu", "Depart", new { id = item.FlightId }, new { title = DateTime.Now.ToString("HH:mm"), @class = "awesomeBtn"  })
                        </span>
                    }
					else if (item.Departure.HasValue)
					{
						@item.Departure.Value.ToString("HH:mm");
					}
                </td>
                <td>
					@if (!item.Landing.HasValue && Request.IsAuthenticated && item.Date == DateTime.Today)
                    {
                        <span style="white-space: nowrap;">
                            @Html.ActionLink("-10 min", "Land", new { id = item.FlightId, offSet = 10 }, new { title = DateTime.Now.AddMinutes(-10).ToString("HH:mm"), @class = "awesomeBtn" })
                            <text> </text>@Html.ActionLink("-5 min", "Land", new { id = item.FlightId, offSet = 5 }, new { title = DateTime.Now.AddMinutes(-5).ToString("HH:mm"), @class = "awesomeBtn"  })
                            <text> </text>@Html.ActionLink("Nu", "Land", new { id = item.FlightId }, new { title = DateTime.Now.ToString("HH:mm"), @class = "awesomeBtn"  })
                        </span>
                    }
                    else if (item.Landing.HasValue)
                    {
                        @item.Landing.Value.ToString("HH:mm");
                    }
                </td>
                <td>
                    @if (item.Departure.HasValue && item.Landing.HasValue)
                    {
                        if (item.Landing.Value >= item.Departure.Value)
                        {
                        @((new DateTime((item.Landing.Value - item.Departure.Value).Ticks)).ToString("H:mm"));
                        }
                        else
                        {
                        <text><span class="error">Fejl: landing før start</span></text>
                        }
                    }
                </td>
                <td>
                    @item.StartedFrom.Name
                    @if ((item.LandedOn != null) && (item.LandedOn.Name != item.StartedFrom.Name))
                    {
                        <text>/ </text>
                        @item.LandedOn.Name
                    }
                </td>
                <td>
                    @item.TachoDeparture
                    @if (item.Departure.HasValue && item.TachoLanding.HasValue && item.TachoLanding > 0)
                    {
                        <text> / </text>
                        @item.TachoLanding 
                        <text> (</text>
                        @(item.TachoLanding.Value - item.TachoDeparture.Value)
                        <text>)</text>
                    }
                </td>
                <td>
                    <span>
                        @Html.DisplayFor(modelItem => item.Description, "Description") 
                        @if (Request.IsAuthenticated)
                        {
                        <a href="#" class="editComment">Edit</a>
                        }
                    </span>
                    @if (Request.IsAuthenticated)
                    {
                    <span style="display:none;">
					    @using (Html.BeginForm("SetComment", "Flight"))
                        {
						    <input type="hidden" name="id" value="@item.FlightId" />
						    <input type="text" name="comment" value="@item.Description" />
						    <a href="#" class="setComment">Set</a>
                        }
                     </span>
                    }
                </td>
                <td class="noprint">
                    @if (Request.IsAuthenticated)
                    {
                        bool isEditable = false;
                        if (Context.User.IsInRole("Administrator")) { isEditable = true; }
                        if (Context.User.IsInRole("Editor")) { isEditable = true; }
                        if (item.Date != null && item.Date.AddDays(3) >= DateTime.Now) { isEditable = true; }
                        if (isEditable)
                        {
                            @Html.ActionLink("Rediger", "Edit", "Flight", new { id = item.FlightId }, new { @class = "awesomeBtn" })
                        }
                    }
					@if (Request.IsAuthenticated) 
                    {
                        @Html.ActionLink("Kopier", "Clone", new { id = item.FlightId }, new { @class = "awesomeBtn" }) 
                    }
                    @Html.ActionLink("Detaljer", "Details", "Flight", new { id = item.FlightId }, new { @class = "awesomeBtn" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").tablesorter();
    }
);
</script>
