@model IEnumerable<FlightJournal.Web.Models.Flight>
@using FlightJournal.Web.Extensions
@{
    ViewBag.Title = _("Startlist") + " " + ViewBag.Date.ToShortDateString();
    int startNr = Model != null ? Model.Where(f => !f.Deleted.HasValue).Sum(m => m.LandingCount) : 0;
}
<p>
    <div class="btn-group btn-group-lg">
        @if (Request.IsPilot())
        {
            @Html.ActionLink(_("Create flight"), "Create", null, new { @class = "btn btn-info", type = "button" })
        }
        @Html.ActionLink(_("Previous flights"), "Index", new { skip = 0 }, new { @class = "btn btn-default", type = "button" })
    </div>
</p>
@{
    var pending = Model.Where(x => x.Deleted == null && x.Departure == null);
    var flying = Model.Where(x => x.Deleted == null && x.Departure != null && x.Landing == null);
    var landed = Model.Where(x => x.Deleted == null && x.Departure != null && x.Landing != null);
    var deleted = Model.Where(x => x.Deleted != null);
}
<ul class="nav nav-tabs" role="tablist" >
    <li role="presentation" ><a class="tab" data-toggle="tab" href="#all">@_("All") (@Model.Count())</a></li>
    <li role="presentation" ><a class="tab" data-toggle="tab" href="#pending">@_("Not started") (@pending.Count())</a></li>
    <li role="presentation" ><a class="tab" data-toggle="tab" href="#flying">@_("Flying") (@flying.Count())</a></li>
    <li role="presentation" ><a class="tab" data-toggle="tab" href="#landed">@_("Landed") (@landed.Count())</a></li>
    <li role="presentation" ><a class="tab" data-toggle="tab" href="#deleted">@_("Deleted") (@deleted.Count())</a></li>
</ul>


<div class="tab-content">
    <div id="all"     role="tabpanel" class="tab-pane fade">@Html.Partial("PartialGrid", Model, new ViewDataDictionary { { "tableclass", "datatable-all" } })</div>
    <div id="pending" role="tabpanel" class="tab-pane fade">@Html.Partial("PartialGrid", pending, new ViewDataDictionary { { "tableclass", "datatable" } })</div>
    <div id="flying"  role="tabpanel" class="tab-pane fade">@Html.Partial("PartialGrid", flying, new ViewDataDictionary { { "tableclass", "datatable" } })</div>
                            
                                var btnclass = $"btn btn-default {(Request.IsInstructor() || User.IsAdministrator() ? "" : "disabled")} {(item.HasTrainingData ? "withtrainingdata" : "")";
    <div id="landed"  role="tabpanel" class="tab-pane fade">@Html.Partial("PartialGrid", landed, new ViewDataDictionary { { "tableclass", "datatable" } })</div>
    <div id="deleted" role="tabpanel" class="tab-pane fade">@Html.Partial("PartialGrid", deleted, new ViewDataDictionary { { "tableclass", "datatable" } })</div>
</div>


@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var signalRflightsHub = $.connection.flightsHub;

        $(document).ready(function() {
            configDataTables();

            $('a[data-toggle="tab"]').each(function() {
                var activeTab = sessionStorage.getItem('ActiveGridTab') ?? "all";
                var tabIdPos = this.href.lastIndexOf('#');
                if (tabIdPos >= 0) {
                    var tabId = this.href.substring(tabIdPos + 1);
                    if (tabId === activeTab) {
                        $(this).addClass("active");
                        $(this).parent().addClass("active");
                    }
                }
            });
            $('div.tab-pane').each(function() {
                var activeTab = sessionStorage.getItem('ActiveGridTab') ?? "all";
                var tabId = $(this).attr("id");
                if (tabId === activeTab) {
                    $(this).addClass("active");
                    $(this).addClass("in");
                }
            });

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                var tabIdPos = e.currentTarget.href.lastIndexOf('#');
                if (tabIdPos >= 0) {
                    var tabId = e.currentTarget.href.substring(tabIdPos + 1);
                    sessionStorage.setItem('ActiveGridTab', tabId);
                }
            });

            $('a.editComment').click(function(e) {
                e.preventDefault();

                var $this = $(this).closest("td");
                $this.children("span:first").hide();
                $this.children("span:last").fadeToggle("slow");
                return false;
            });

            $('a.setComment').click(function(e) {
                e.preventDefault();

                var $this = $(this).closest("form");

                $this.submit();
                return false;
            });

            $.connection.hub.start(function() {
                console.log("connected");
                console.log($.connection);
            });

            signalRflightsHub.client.NotifyFlightChanged = function(flight, origin) {
                reloadIfFlightPresentOnPage(flight);
            };
            signalRflightsHub.client.NotifyFlightAdded = function(flight, origin, affectedLocations) {
                reloadIfLocationAffected(affectedLocations);
            };


        });

        var configDataTables = function() {
            $(".datatable").DataTable({
                deferRender: true,
                scrollY: true,
                info: false,
                lengthChange: false,
                ordering: true,
                order: [[4, "desc"]],
                columnDefs: [
                    { targets: [9,10], orderable: false },
                    { targets: [0, 1], visible:false},
                ],
                searching: false,
                paging: false,
                language: { url: '@DataTableLocalizationUrl()' }
            });
            $(".datatable-all").DataTable({
                deferRender: true,
                scrollY: true,
                info: false,
                lengthChange: false,
                ordering: true,
                order: [[0, "asc"], [4, "desc"]],
                columnDefs: [
                    { targets: [9,10], orderable: false },
                    { targets: [1], visible:false},
                    { targets: [0], orderData:[1]}
                ],
                searching: false,
                paging: false,
                language: { url: '@DataTableLocalizationUrl()' }
            });
        };

        var reloadIfFlightPresentOnPage = function(flight) {
            if ($(".setComment").is(":visible"))
                return;
            $('.flightrow').each(function() {
                if ($(this).data('flightid') == flight) {
                    location.reload();
                    return;
                }
            });
        };

        var reloadIfLocationAffected = function(affectedLocations) {
            if ($(".setComment").is(":visible"))
                return;
            var thisLocation = @ViewBag.LocationId;
            if (thisLocation === 0 || affectedLocations.includes(thisLocation))
                location.reload();
        };
    </script>
}

