@using FlightJournal.Web.Views
@model FlightJournal.Web.Models.TrainingLogViewModel


    <div class="row no-gutter">
        <div class="col-xs-12">
            <select class="selectpicker" id="TrainingProgram">
                @foreach (var program in Model.TrainingPrograms)
                {
                    <option value="@program.Id">@program.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row no-gutter">
        <div class="col-xs-4 col-sm-2">
            @Model.Date
        </div>
        <div class="col-xs-4 col-sm-2">
            @Model.Pilot
        </div>
        <div class="col-xs-4 col-sm-2">
            @Model.BackseatPilot
        </div>
    </div>

<div class="row no-gutter btn-group-toggle" data-toggle="buttons">
    <label class="col-xs-2 btn btn-default traininglogstatebutton" id="lessonstoggle"><input type="checkbox"><i class="fa fa-file-text"></i><span class="hidden-xs hidden-sm"> Normer</span></label>
    <label class="col-xs-2 btn btn-default traininglogstatebutton" id="lessonoverviewtoggle"><input type="checkbox"><i class="fa fa-list"></i><span class="hidden-xs  hidden-sm"> Normstatus</span></label>
    <div class="col-xs-2"></div>
    <label class="col-xs-2 btn btn-default traininglogstatebutton" id="maneuverstoggle"><input type="checkbox">&#x21B0&#x219D&infin;<span class="hidden-xs  hidden-sm"> Manøvrer</span></label>
    <label class="col-xs-2 btn btn-default traininglogstatebutton" id="annotationstoggle"><input type="checkbox">SFIL</label>
    <label class="col-xs-2 btn btn-default traininglogstatebutton" id="weathertoggle"><input type="checkbox"><i class="fa fa-cloud"></i><span class="hidden-xs  hidden-sm"> Vejr</span></label>
</div>

@foreach (var program in Model.TrainingPrograms)
{
    <div class="row no-gutter btn-group-toggle @program.Id lessonscontainer" data-toggle="buttons">
        @foreach (var lesson in program.Lessons)
        {
            <label class="col-xs-2 col-sm-1 traininglogstatebutton btn @CssHelper.CssClassFor(lesson.Status, false)" title="@lesson.StatusSummary"><input type="checkbox" data-lessonclz="@program.Id-@lesson.Id" class="lessontoggle">@lesson.Name</label>
        }
    </div>
}

<div id="lessonsoverviewcontainer" class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Norm</th>
                <th>#Ok</th>
                <th>#I gang</th>
                <th>#Ikke startet</th>
                <th>#i alt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var program in Model.TrainingPrograms)
            {
                foreach (var lesson in program.Lessons)
                {
                    <tr class="@program.Id">
                        <td>@lesson.Name</td>
                        <td>@lesson.ExercisesCompleted</td>
                        <td>@lesson.ExercisesInProgress</td>
                        <td>@lesson.ExercisesNotStarted</td>
                        <td>@lesson.ExercisesTotal</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<div id="lessonscontainer" class="table-responsive lessonscontainer row no-gutter" >
    <table class="table table-condensed col-xs-12">
        <thead>
            <tr>
                <th></th>
                <th>Øvelse</th>
                <th>B<span class="hidden-xs">riefet</span></th>
                <th>Ø<span class="hidden-xs">vet</span></th>
                <th>Ok</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var program in Model.TrainingPrograms)
            {
                foreach (var lesson in program.Lessons)
                {
                    foreach (var exercise in lesson.Exercises)
                    {
                        var clz = CssHelper.CssClassFor(exercise.Status, exercise.BriefingOnlyRequired);
                        var briefedMarker = exercise.IsBriefed ? "X" : "<input type='checkbox'>";
                        var trainedMarker = exercise.IsTrained ? "X" : exercise.BriefingOnlyRequired ? "" : "<input type='checkbox'>";
                        var completedMarker = exercise.IsCompleted ? "X" : exercise.BriefingOnlyRequired ? "" : "<input type='checkbox'>";
                        var infoMarker = exercise.LongDescription.Any() ? "<span class='fa fa-info-circle'></span>" : "";
                        <tr class="@program.Id-@lesson.Id exercise">
                            <td class="@clz lessondetails" data-lessonid="@lesson.Id">@lesson.Name</td>
                            <td class="@clz exercisedetails" data-exerciseid="@exercise.Id">@exercise.Description @Html.Raw(infoMarker)</td>
                            <td class="@clz">@Html.Raw(briefedMarker) </td>
                            <td class="@clz">@Html.Raw(trainedMarker)</td>
                            <td class="@clz">@Html.Raw(completedMarker)</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<div id="maneuverscontainer" class="annotationcontainer">
    <div class="row">
        <div class="col-xs-2  col-sm-1">Manøvrer</div>
        <select class="col-xs-10  col-sm-11 selectpicker" multiple title="Vælg manøvrer">
            @foreach (var maneuver in Model.Maneuvers)
            {
                <option value="@maneuver.Id" data-icon="@maneuver.Icon">@Html.Raw(maneuver.Name)</option>
            }
        </select>
    </div>
</div>


<div id="annotationscontainer" class="annotationcontainer">
    <div class="row">
        <div class="col-xs-2 col-sm-1">
            <button class="btn btn-success" id="sfilok">SFIL ok</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-1">Start</div>
        <select class="col-xs-10 col-sm-11 selectpicker annotation" multiple title="Kommenter start">
            @foreach (var annotation in Model.Annotations)
            {
                <option value="@annotation.Id" data-icon="@annotation.Icon">@Html.Raw(annotation.Name)</option>
            }
        </select>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-1">Flyvning</div>
        <select class="col-xs-10 col-sm-11  selectpicker annotation" multiple title="Kommenter flyvning">
            @foreach (var annotation in Model.Annotations)
            {
                <option value="@annotation.Id" data-icon="@annotation.Icon">@Html.Raw(annotation.Name)</option>
            }
        </select>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-1">Indflyvning</div>
        <select class="col-xs-10  col-sm-11 selectpicker annotation" multiple title="Kommenter indflyvning">
            @foreach (var annotation in Model.Annotations)
            {
                <option value="@annotation.Id" data-icon="@annotation.Icon">@Html.Raw(annotation.Name)</option>
            }
        </select>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-1">Landing</div>
        <select class="col-xs-10 col-sm-11  selectpicker annotation" multiple title="Kommenter landing">
            @foreach (var annotation in Model.Annotations)
            {
                <option value="@annotation.Id" data-icon="@annotation.Icon">@Html.Raw(annotation.Name)</option>
            }
        </select>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-1">Note</div>
        <div class="col-xs-10 col-sm-11 ">
            <textarea style="width: 100%; max-width:100%" id="flightnotes" rows="3"></textarea>
        </div>
    </div>
</div>

<div id="weathercontainer" class="annotationcontainer">
    <div class="row">
        <div class="col-xs-2  col-sm-1">Vejr</div>
        <select class="col-xs-5 selectpicker" title="Vindretning">
            @foreach (var v in Model.WindDirections)
            {
                <option value="@v.Value">@Html.Raw(v.Text)</option>
            }
        </select>
        <select class="col-xs-4 selectpicker" title="Vindstyrke">
            @foreach (var v in Model.WindSpeeds)
            {
                <option value="@v.Value">@Html.Raw(v.Text)</option>
            }
        </select>
    </div>
</div>



<div class="row" style="margin-top: 30px">
    <div class="col-md-6">
        <div class="btn-group btn-group-lg">
            <input type="submit" value="@_("Save")" class="btn btn-primary" />
            <button class="btn btn-default">@_("Back")</button>
            <button class="btn btn-default" id="showrecentflights">@_("Show last 15 flights")</button>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="exercisemodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exercisemodaltitle">Øvelse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="exercise-description"></p>

                <h4 id="exercise-precondition-header">Forudsætninger</h4>
                <p id="exercise-precondition"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="recentflightsmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sidste flyvninger</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="recentflightstable">
                <table class='table table-responsive table-condensed'>
                    @{
                        foreach (var flight in Model.FlightLog)
                        {
                            <tr><td>@flight.Date</td><td></td><td>Øvet</td><td>Ok - lidt slingrende</td><td></td></tr>
                        }
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@foreach (var lesson in Model.TrainingLessons)
{
    <div class="lessondescription" id="@lesson.Id" data-header="@lesson.Name" data-description="@lesson.Description" data-precondition="@lesson.Precondition"></div>
}
@foreach (var exercise in Model.TrainingExercises)
{
    <div class="exercisedescription" id="@exercise.Id" data-header="@exercise.Description" data-description="@exercise.Note"></div>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#TrainingProgram").change(function() {
                showRelevantTrainingProgram($(this));
            });

            $(".lessontoggle").change(function() {
                showRelevantExercises($(this));
            });
            showRelevantTrainingProgram($("#TrainingProgram"));

            $(".exercise").hide();
            $(".table").hide();

            $(".exercisedetails").click(function() {
                showInfoFromId($(this).data("exerciseid"));
            });
            $(".lessondetails").click(function() {
                showInfoFromId($(this).data("lessonid"));
            });

            $("#showrecentflights").click(function() {
                $("#recentflightsmodal").modal();
            });

            $(".lessonscontainer").hide();
            $("#annotationscontainer").hide();
            $("#maneuverscontainer").hide();
            $("#weathercontainer").hide();


            $("#maneuverstoggle").click(function() {
                if ($(this).find("input").is(":checked"))
                    $("#maneuverscontainer").hide();
                else
                    $("#maneuverscontainer").show();
            });
            $("#annotationstoggle").click(function() {
                if ($(this).find("input").is(":checked"))
                    $("#annotationscontainer").hide();
                else
                    $("#annotationscontainer").show();
            });
            $("#weathertoggle").click(function() {
                if ($(this).find("input").is(":checked"))
                    $("#weathercontainer").hide();
                else
                    $("#weathercontainer").show();
            });
            $("#lessonoverviewtoggle").click(function() {
                if ($(this).find("input").is(":checked"))
                    $("#lessonsoverviewcontainer").hide();
                else
                    $("#lessonsoverviewcontainer").show();
            });
            $("#lessonstoggle").click(function() {
                if ($(this).find("input").is(":checked"))
                    $(".lessonscontainer").hide();
                else
                    $(".lessonscontainer").show();
            });

            $("#sfilok").click(function() {
                $(".selectpicker.annotation").each(function() {
                    $(this).selectpicker('val', 'Ok');
                });
            });
        });


        var showRelevantExercises = function (lesson) {
            $(".table").show();
            var key = "." + lesson.data("lessonclz");
            $(key).each(function() {
                if (lesson.is(":checked"))
                    $(this).show();
                else
                    $(this).hide();
            });
            var anyLessons = $(".lessontoggle:checked").length;
            if (anyLessons)
                $(".table").show();
            else
                $(".table").hide();
        }

        var showRelevantTrainingProgram = function(sel) {
            @foreach (var program in Model.TrainingPrograms)
            {
                <text>
                    if (sel.find(":selected").val() == "@program.Id")
                        $(".@program.Id").show();
                    else
                        $(".@program.Id").hide();
                </text>

            }
            $(".active").removeClass("active");
            $(".exercise").hide();
        }


        var showInfoFromId = function (infoid) {
            var info = $("#" + infoid);
            var descr= info.data("description");
            var precondition= info.data("precondition");
            var title = info.data("header");
            if (descr && descr.length) {
                $("#exercisemodaltitle").html(title);
                $("#exercise-description").html(descr);
                $("#exercise-precondition").html(precondition ? precondition : "");
                if (precondition)
                    $("#exercise-precondition-header").show();
                else
                    $("#exercise-precondition-header").hide();
                $("#exercisemodal").modal();
            }
        }


    </script>
}

