@using FlightJournal.Web
@using FlightJournal.Web.Extensions
@using FlightJournal.Web.Models
@using FlightJournal.Web.Views
@model FlightJournal.Web.Models.TrainingLogViewModel


<div class="row">
    <div class="col-md-2">
        <select id="TrainingProgram">
            @foreach (var program in Model.TrainingPrograms)
            {
                <option value="@program.Id">@program.Name</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        @Model.Pilot / @Model.BackseatPilot
    </div>
</div>
@foreach (var program in Model.TrainingPrograms)
{
    <div class="row no-gutter btn-group-toggle @program.Id" data-toggle="buttons" >
        @foreach (var lesson in program.Lessons)
        {
            <label class="col-xs-2 col-sm-1 traininglesson btn @CssHelper.CssClassFor(lesson.Status, false)"><input type="checkbox" data-lessonclz="@program.Id-@lesson.Id" class="lessontoggle">@lesson.Name</label>
        }
    </div>
}
<table class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th>Norm</th>
            <th>Øvelse</th>
            <th>Briefet</th>
            <th>Øvet</th>
            <th>Ok</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var program in Model.TrainingPrograms)
        {
            foreach (var lesson in program.Lessons)
            {
                foreach (var exercise in lesson.Exercises)
                {
                    var clz = CssHelper.CssClassFor(exercise.Status, exercise.BriefingOnlyRequired);
                    var briefedClass = CssHelper.CssClassFor(exercise.Status, exercise.BriefingOnlyRequired);
                    var trainedClass = exercise.BriefingOnlyRequired ? "btn-secondary" : clz;
                    var completedClass = exercise.BriefingOnlyRequired ? "btn-secondary" : clz;
                    var briefedMarker = exercise.IsBriefed ? "X" : "<input type='checkbox'>";
                    var trainedMarker = exercise.IsTrained ? "X" : exercise.BriefingOnlyRequired ? "" : "<input type='checkbox'>";
                    var completedMarker = exercise.IsCompleted ? "X" : exercise.BriefingOnlyRequired ? "" : "<input type='checkbox'>";
                    var infoMarker = exercise.LongDescription.Any() ? "<span class='fa fa-info-circle'></span>" : "";
                    <tr class="@program.Id-@lesson.Id exercise" data-exerciselongdescription="@exercise.LongDescription">
                        <td class="@clz exercisedetails">@lesson.Name</td>
                        <td class="@clz exercisedetails">@exercise.Description @Html.Raw(infoMarker)</td>
                        <td class="@briefedClass">@Html.Raw(briefedMarker) </td>
                        <td class="@trainedClass">@Html.Raw(trainedMarker)</td>
                        <td class="@completedClass">@Html.Raw(completedMarker)</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<div>
    <p>Noter</p>
    <textarea id="flightnotes" rows="5" cols="80"></textarea>
</div>

<div class="row" style="margin-top: 30px">
    <div class="col-md-6">
        <div class="btn-group btn-group-lg">
            <input type="submit" value="@_("Save")" class="btn btn-primary" />
            <button class="btn btn-default">@_("Back")</button>
            <button class="btn btn-default" id="showrecentflights">@_("Show last 15 flights")</button>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="exercisemodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exercisemodaltitle">Øvelse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="exercise-description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="recentflightsmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sidste flyvninger</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="recentflightstable">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#TrainingProgram").change(function() {
                showRelevantTrainingProgram($(this));
            });

            $(".lessontoggle").change(function() {
                showRelevantExercises($(this));
            });
            showRelevantTrainingProgram($("#TrainingProgram"));

            $(".exercise").each(function() {
                $(this).hide();
            });

            $(".exercisedetails").click(function() {
                var info = $(this).parent().data("exerciselongdescription");
                if (info && info.length) {
                    $("#exercisemodaltitle").text($(this).text());
                    $("#exercise-description").text(info);
                    $("#exercisemodal").modal();
                }
            });

            $("#showrecentflights").click(function() {
                var table = "<table class='table table-responsive table-condensed'><tr><td>2/7-2020</td><td>A6</td><td>Øvet</td><td>Ok - lidt slingrende</td><td>PL</td></tr></table>";
                $("#recentflightstable").html(table);
                $("#recentflightsmodal").modal();
            });

        });


        var showRelevantExercises = function(lesson) {
            var key = "." + lesson.data("lessonclz");
            $(key).each(function() {
                if (lesson.is(":checked"))
                    $(this).show();
                else
                    $(this).hide();
            });
        }

        var showRelevantTrainingProgram = function(sel) {
            @foreach (var program in Model.TrainingPrograms)
            {
                <text>
                    if (sel.find(":selected").val() == "@program.Id")
                        $(".@program.Id").show();
                    else
                        $(".@program.Id").hide();
                </text>

            }
            $(".active").removeClass("active");
            $(".exercise").each(function() {
                $(this).hide();
            });
        }


    </script>
}

