@model FlightJournal.Web.Models.Training.Predefined.Manouvre
<legend>@_("Manouvre")</legend>
<table>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.IconCssClass)</td>
        <td class="display-field">@Html.DisplayFor(model => model.IconCssClass)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.ManouvreItem)</td>
        <td class="display-field">@Html.DisplayFor(model => model.ManouvreItem)</td>
    </tr>
    <tr>
        <td class="display-label valign-top">@Html.LabelFor(model => model.Description)</td>
        <td class="display-field">@Html.DisplayFor(model => model.Description)</td>
    </tr>
</table>

