@model FlightLog.ViewModels.Report.ReportViewModel
@{
    ViewBag.Title = "Årsrapport";
}
<p>
    <a href="@Url.Content("~/")@Model.Date.AddYears(-1).ToString("yyyy")" class="awesomeBtn">@Model.Date.AddYears(-1).ToString("yyyy")</a>
    <a href="@Url.Content("~/")@Model.Date.ToString("yyyy")" class="awesomeBtn"><strong>@Model.Date.ToString("yyyy")</strong></a>
    @foreach (var month in @Model.Flights.Select(d => d.Date.Month).Distinct())
    {
        <a href="@Url.Content("~/")@Model.Date.AddMonths(month - 1).ToString("yyyy-MM")" class="awesomeBtn">@Model.Date.AddMonths(month - 1).ToString("MMMM")</a>
    }
    @if (DateTime.Today.Year >= Model.Date.AddYears(1).Year)
    {
        <a href="@Url.Content("~/")@Model.Date.AddYears(1).ToString("yyyy")" class="awesomeBtn">@Model.Date.AddYears(1).ToString("yyyy")</a>
    }
</p>
<h2>
    Statistik for @Model.Date.ToString("yyyy")</h2>
<table>
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @*Total for @Model.Date.ToString("yyyy")*@
            </th>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Apr
            </th>
            <th>
                Maj
            </th>
            <th>
                Jun
            </th>
            <th>
                Jul
            </th>
            <th>
                Aug
            </th>
            <th>
                Sep
            </th>
            <th>
                Okt
            </th>
            <th>
                Nov
            </th>
            <th>
                Dec
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Flyvedage
            </td>
            <td align="right">
                @Model.Flights.Select(s => s.Date).Distinct().Count()
            </td>
            @for (int i = 1; i <= 12; i++)
            {
                var count = Model.Flights.Where(f => f.Date.Month == i).Select(s => s.Date).Distinct().Count();
                <td align="right">
                    @(count != 0 ? count.ToString() : "")
                </td>
            }
        </tr>
        <tr>
            <td>
                Starter
            </td>
            <td align="right">
                @Model.Flights.Count()
            </td>
            @for (int i = 1; i <= 12; i++)
            {
                var count = Model.Flights.Where(f => f.Date.Month == i).Count();
                <td align="right">
                    @(count != 0 ? count.ToString() : "")
                </td>
            }
        </tr>
        <tr>
            <td>
                Flyvetid
            </td>
            <td align="right">
                @{
                    var totaltime = new TimeSpan(Model.Flights.ToList().Select(f => new { myTime = f.Landing.HasValue && f.Departure.HasValue && f.Landing.Value > f.Departure.Value ? f.Landing.Value.Subtract(f.Departure.Value).Ticks : (long)0 }).Sum(f => f.myTime));
                }
                @(totaltime.TotalMinutes > 0 ? string.Format("{0}:{1}", totaltime.TotalHours.ToString("#00.0"), totaltime.Minutes.ToString("#00")) : "")
            </td>
            @for (int i = 1; i <= 12; i++)
            {
                var time = new TimeSpan(Model.Flights.Where(f => f.Date.Month == i).ToList()
                                .Select(f => new { myTime = f.Landing.HasValue && f.Departure.HasValue && f.Landing.Value > f.Departure.Value ? f.Landing.Value.Subtract(f.Departure.Value).Ticks : (long)0 })
                                .Sum(f => f.myTime));
                <td align="right">
                    @(time.TotalMinutes > 0 ? string.Format("{0}:{1}", time.TotalHours.ToString("#00.0"), time.Minutes.ToString("#00")) : "")
                </td>
            }
        </tr>
        <tr>
            <td>
                Piloter i luften
            </td>
            <td align="right">
                @Model.Flights.Select(s => s.Pilot).Union(Model.Flights.Where(s => s.PilotBackseat != null).Select(s => s.PilotBackseat).Distinct()).Distinct().Count()
            </td>
            @for (int i = 1; i <= 12; i++)
            {
                var count = Model.Flights.Where(f => f.Date.Month == i).Select(s => s.Pilot).Union(Model.Flights.Where(s => s.Date.Month == i && s.PilotBackseat != null).Select(s => s.PilotBackseat).Distinct()).Distinct().Count();
                <td align="right">
                    @(count != 0 ? count.ToString() : "")
                </td>
            }
        </tr>
    </tbody>
</table>
<h3>
    Pilot statistik</h3>
<table id="myPilotTable" class="tablesorter">
    <thead>
        <tr>
            <th>
                Forsæde
            </th>
            <th>
                Antal
            </th>
            <th>
                Flyvetid
            </th>
            <th colspan="2">
                Jan
            </th>
            <th colspan="2">
                Feb
            </th>
            <th colspan="2">
                Mar
            </th>
            <th colspan="2">
                Apr
            </th>
            <th colspan="2">
                Maj
            </th>
            <th colspan="2">
                Jun
            </th>
            <th colspan="2">
                Jul
            </th>
            <th colspan="2">
                Aug
            </th>
            <th colspan="2">
                Sep
            </th>
            <th colspan="2">
                Okt
            </th>
            <th colspan="2">
                Nov
            </th>
            <th colspan="2">
                Dec
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in from c in Model.Flights
                             group c by new { c.Pilot } into g
                             select new { Pilot = g.Key.Pilot, Count = g.Count(), ItemFlights = g })
        {
            <tr>
                <td>
                    @item.Pilot.Name
                </td>
                <td align="right">
                    @item.Count
                </td>
                <td align="right">
                    @(new DateTime(item.ItemFlights
                                .Select(f => new { myTime = f.Landing.HasValue && f.Departure.HasValue && f.Landing.Value > f.Departure.Value ? f.Landing.Value.Subtract(f.Departure.Value).Ticks : (long)0 })
                                .Sum(f => f.myTime)).ToString("HH:mm"))
                </td>
                @for (int i = 1; i <= 12; i++)
                {
                    var count = item.ItemFlights.Count(f => f.Date.Month == i);
                    var time = (new TimeSpan(item.ItemFlights.Where(f => f.Date.Month == i)
                                .Select(f => new { myTime = f.Landing.HasValue && f.Departure.HasValue && f.Landing.Value > f.Departure.Value ? f.Landing.Value.Subtract(f.Departure.Value).Ticks : (long)0 })
                                .Sum(f => f.myTime)));
                    <td align="right">
                        @(count != 0 ? count.ToString() : "")
                    </td>
                    <td align="right">
                        @(time.TotalMinutes > 0 ? string.Format("{0}:{1}", time.TotalHours.ToString("#00.0"), time.Minutes.ToString("#00")) : "")
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myPilotTable").tablesorter();
    }
);
</script>
@*
<h3>
    Fly statistik</h3>*@
<h2>
    Logbøger for @Model.Date.ToString("yyyy")</h2>
<h3>
    Fly</h3>
<table>
    <tr>
        <td valign="top">
            <table>
                <thead>
                    <tr>
                        <th>
                            Fly
                        </th>
                        <th>
                            Forsæde
                        </th>
                        <th>
                            Antal
                        </th>
                        <th>
                            Flyvetid
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in from c in Model.Flights
                                         group c by new { c.Plane, c.Pilot } into g
                                         select new { Plane = g.Key.Plane, Pilot = g.Key.Pilot, Count = g.Count(), ItemFlights = g })
                    {
                        <tr>
                            <td>
                                @item.Plane
                            </td>
                            <td>
                                @item.Pilot.Name
                            </td>
                            <td align="right">
                                @item.Count
                            </td>
                            <td align="right">
                                @(new DateTime(item.ItemFlights
                                .Select(f => new { myTime = f.Landing.HasValue && f.Departure.HasValue && f.Landing.Value > f.Departure.Value ? f.Landing.Value.Subtract(f.Departure.Value).Ticks : (long)0 })
                                .Sum(f => f.myTime)).ToString("HH:mm"))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td valign="top">
            <table>
                <thead>
                    <tr>
                        <th>
                            Fly
                        </th>
                        <th>
                            Bagsæde
                        </th>
                        <th>
                            Antal
                        </th>
                        <th>
                            Flyvetid
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in from c in Model.Flights
                                         where c.PilotBackseat != null
                                         group c by new { c.Plane, c.PilotBackseat } into g
                                         select new { Plane = g.Key.Plane, PilotBackseat = g.Key.PilotBackseat, Count = g.Count(), ItemFlights = g })
                    {
                        <tr>
                            <td>
                                @item.Plane
                            </td>
                            <td>
                                @item.PilotBackseat.Name
                            </td>
                            <td align="right">
                                @item.Count
                            </td>
                            <td align="right">
                                @(new DateTime(item.ItemFlights
                                .Select(f => new { myTime = f.Landing.HasValue && f.Departure.HasValue && f.Landing.Value > f.Departure.Value ? f.Landing.Value.Subtract(f.Departure.Value).Ticks : (long)0 })
                                .Sum(f => f.myTime)).ToString("HH:mm"))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
</table>
<h3>
    Piloter</h3>
<table>
    <tr>
        <td valign="top">
            <table>
                <thead>
                    <tr>
                        <th>
                            Forsæde
                        </th>
                        <th>
                            Fly
                        </th>
                        <th>
                            Antal
                        </th>
                        <th>
                            Flyvetid
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in from c in Model.Flights
                                         group c by new { c.Pilot, c.Plane } into g
                                         select new { Pilot = g.Key.Pilot, Plane = g.Key.Plane, Count = g.Count(), ItemFlights = g })
                    {
                        <tr>
                            <td>
                                @item.Pilot.Name
                            </td>
                            <td>
                                @item.Plane
                            </td>
                            <td align="right">
                                @item.Count
                            </td>
                            <td align="right">
                                @(new DateTime(item.ItemFlights
                                .Select(f => new { myTime = f.Landing.HasValue && f.Departure.HasValue && f.Landing.Value > f.Departure.Value ? f.Landing.Value.Subtract(f.Departure.Value).Ticks : (long)0 })
                                .Sum(f => f.myTime)).ToString("HH:mm"))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td valign="top">
            <table>
                <thead>
                    <tr>
                        <th>
                            Bagsæde
                        </th>
                        <th>
                            Fly
                        </th>
                        <th>
                            Antal
                        </th>
                        <th>
                            Flyvetid
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in from c in Model.Flights
                                         where c.PilotBackseat != null
                                         group c by new { c.PilotBackseat, c.Plane } into g
                                         select new { PilotBackseat = g.Key.PilotBackseat, Plane = g.Key.Plane, Count = g.Count(), ItemFlights = g })
                    {
                        <tr>
                            <td>
                                @item.PilotBackseat.Name
                            </td>
                            <td>
                                @item.Plane
                            </td>
                            <td align="right">
                                @item.Count
                            </td>
                            <td align="right">
                                @(new DateTime(item.ItemFlights
                                .Select(f => new { myTime = f.Landing.HasValue && f.Departure.HasValue && f.Landing.Value > f.Departure.Value ? f.Landing.Value.Subtract(f.Departure.Value).Ticks : (long)0 })
                                .Sum(f => f.myTime)).ToString("HH:mm"))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
</table>
@*<br style="page-break-after: always;" />
<h2>
    Startlister for @Model.Date.ToString("MMMM yyyy")</h2>
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th>
                Dato
            </th>
            <th>
                Fly
            </th>
            <th>
                Pilote(r)
            </th>
            <th>
                Start
            </th>
            <th>
                Landing
            </th>
            <th>
                Flyvetid
            </th>
            <th>
                Flyveplads
            </th>
            <th>
                Tacho
            </th>
            <th>
                Note
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flights)
        {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @item.Plane.CompetitionId
                    @item.Plane.Registration
                </td>
                <td>
                    @item.Pilot.Name
                    @if (item.PilotBackseat != null)
                    {
                        <text>, </text>@item.PilotBackseat.Name
                    }
                    @if ((item.Betaler != null) && (item.Betaler != item.Pilot))
                    {
                        <text> (</text>@item.Betaler.Name<text> betaler)</text>
                    }
                </td>
                <td>
                    @if (item.Departure.HasValue)
                    {
                        @item.Departure.Value.ToString("HH:mm");
                    }
                </td>
                <td>
                    @if (item.Landing.HasValue)
                    {
                        @item.Landing.Value.ToString("HH:mm");
                    }
                </td>
                <td>
                    @if (item.Departure != null && item.Landing != null)
                    {
                        @((new DateTime((item.Landing.Value - item.Departure.Value).Ticks)).ToString("H:mm"));
                    }
                </td>
                <td>
                    @item.StartedFrom.Name
                    @if ((item.LandedOn != null) && (item.LandedOn.Name != item.StartedFrom.Name))
                    {
                        <text>, </text>
                        @item.LandedOn.Name
                    }
                </td>
                <td>
                    @item.TachoDeparture
                    @if (item.Departure.HasValue && item.TachoLanding.HasValue && item.TachoLanding > 0)
                    {
                        <text> / </text>
                        @item.TachoLanding 
                        <text> (diff: </text>
                        @(item.TachoDeparture.Value - item.TachoLanding.Value);
                        <text> ) </text>
                    }
                </td>
                <td>
                    @if ((item.Description != null) && (item.Description.Length > 40))
                    {
                        @item.Description.Substring(0, 37).ToString()
                        <span title="[...]@item.Description.Substring(37).ToString()">
                            <text>[...]</text>
                        </span>
                    }
                    else
                    {
                        @item.Description
                    }
                </td>
                <td>
                    @Html.ActionLink("Detaljer", "Details", new { id = item.FlightId }, new { @class = "awesomeBtn" })
                    @Html.ActionLink("Historik", "ChangeHistory", new { id = item.FlightId }, new { @class = "awesomeBtn" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").tablesorter();
    }
);
</script>
*@