@model IEnumerable<FlightLog.Models.PilotStatusType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Club
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Club.ShortName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PilotStatusId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PilotStatusId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PilotStatusId })
        </td>
    </tr>
}

</table>
