@using FlightJournal.Web.Extensions
@model FlightJournal.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

<div>
    Bemærk at din klub skal oprette en pilotprofil som matcher din email og/eller dit mobilnummer.
    <br />
    <br />
    <em>Du skal kontakte den ansvarlige i din klub for at få oprettet en pilotprofil.</em>

    @if (Request.IsClub())
    {
        <br />
        <em>
            Kontakt oplysninger til den ansvarlige i <strong>@Request.Club().Name</strong> er
            @if (!string.IsNullOrWhiteSpace(Request.Club().ContactInformation))
            {
                @Request.Club().ContactInformation
            }
            else
            {
                @: ikke oplyst.
                    }
        </em>
    }
    <br />
    <h2>Er din klub ikke i system ?</h2>
    Du kan fortsat oprette en konto, men den vil ikke blive bundet til en pilot og du vil derfor ikke kunne oprette eller redigere flyvninger i systemet før du f.eks. får oprettet klubben ved at tag fat i os. <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
